In [1]:
import pandas as pd

In [8]:
df = pd.read_csv('sampled_dataset.csv')

In [9]:
df.head(12)

,ID,Source,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,A-7182628,Source1,1,2020-04-17 09:29:30,2020-04-17 10:29:30,26.706900,-80.119360,26.706900,-80.119360,0.000,...,False,False,False,False,True,False,Day,Day,Day,Day
1,A-5404588,Source1,2,2022-04-21 10:01:00.000000000,2022-04-21 11:44:08.000000000,38.781024,-121.265820,38.780377,-121.265815,0.045,...,False,False,True,False,False,False,Day,Day,Day,Day
2,A-156000,Source3,3,2016-08-12 16:45:00,2016-08-12 17:15:00,33.985249,-84.269348,NaN,NaN,0.000,...,False,False,False,False,False,False,Day,Day,Day,Day
3,A-1871277,Source2,3,2019-09-20 15:22:16,2019-09-20 15:56:00,47.118706,-122.556908,NaN,NaN,0.000,...,False,False,False,False,False,False,Day,Day,Day,Day
4,A-2031222,Source2,2,2019-06-03 16:55:43,2019-06-03 18:12:09,33.451355,-111.890343,NaN,NaN,0.000,...,False,False,False,False,False,False,Day,Day,Day,Day
5,A-1167415,Source2,2,2021-02-04 12:48:21,2021-02-04 16:51:15,42.448910,-93.721138,NaN,NaN,7.770,...,False,False,False,False,False,False,Day,Day,Day,Day
6,A-4021880,Source1,2,2022-06-23 10:57:30,2022-06-23 15:43:00,38.858169,-77.219815,38.884636,-77.220805,1.829,...,False,False,False,False,False,False,Day,Day,Day,Day
7,A-1314019,Source2,3,2020-09-25 16:48:29,2020-09-25 17:38:44,32.434292,-82.500710,NaN,NaN,0.000,...,False,False,False,False,False,False,Day,Day,Day,Day
8,A-721069,Source2,2,2022-02-04 19:57:43,2022-02-04 20:42:10,39.106960,-76.939789,NaN,NaN,0.000,...,False,False,False,False,False,False,Night,Night,Night,Night
9,A-3677476,Source1,2,2023-03-26 14:38:00.000000000,2023-03-26 17:29:42.000000000,37.636405,-122.087711,37.644790,-122.093729,0.666,...,False,False,False,False,False,False,Day,Day,Day,Day
10,A-7221635,Source1,2,2020-01-14 00:41:00,2020-01-14 03:54:09,45.511600,-92.992980,45.511600,-92.992980,0.000,...,False,False,False,False,False,False,Night,Night,Night,Night
11,A-2964547,Source2,2,2018-03-23 07:43:01,2018-03-23 08:12:36,40.360512,-79.907692,NaN,NaN,0.000,...,False,False,False,False,True,False,Day,Day,Day,Day

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 46 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   ID                     100000 non-null  object
 1   Source                 100000 non-null  object
 2   Severity               100000 non-null  int64
 3   Start_Time             100000 non-null  object
 4   End_Time               100000 non-null  object
 5   Start_Lat              100000 non-null  float64
 6   Start_Lng              100000 non-null  float64
 7   End_Lat                56012 non-null   float64
 8   End_Lng                56012 non-null   float64
 9   Distance(mi)           100000 non-null  float64
 10  Description            99999 non-null   object
 11  Street                 99830 non-null   object
 12  City                   99997 non-null   object
 13  County                 100000 non-null  object
 14  State                  100000 non-null  object
 15  Zipcode                99979 non-null   object
 16  Country                100000 non-null  object
 17  Timezone               99900 non-null   object
 18  Airport_Code           99698 non-null   object
 19  Weather_Timestamp      98424 non-null   object
 20  Temperature(F)         97880 non-null   float64
 21  Wind_Chill(F)          74067 non-null   float64
 22  Humidity(%)            97741 non-null   float64
 23  Pressure(in)           98183 non-null   float64
 24  Visibility(mi)         97738 non-null   float64
 25  Wind_Direction         97689 non-null   object
 26  Wind_Speed(mph)        92557 non-null   float64
 27  Precipitation(in)      71378 non-null   float64
 28  Weather_Condition      97784 non-null   object
 29  Amenity                100000 non-null  bool
 30  Bump                   100000 non-null  bool
 31  Crossing               100000 non-null  bool
 32  Give_Way               100000 non-null  bool
 33  Junction               100000 non-null  bool
 34  No_Exit                100000 non-null  bool
 35  Railway                100000 non-null  bool
 36  Roundabout             100000 non-null  bool
 37  Station                100000 non-null  bool
 38  Stop                   100000 non-null  bool
 39  Traffic_Calming        100000 non-null  bool
 40  Traffic_Signal         100000 non-null  bool
 41  Turning_Loop           100000 non-null  bool
 42  Sunrise_Sunset         99674 non-null   object
 43  Civil_Twilight         99674 non-null   object
 44  Nautical_Twilight      99674 non-null   object
 45  Astronomical_Twilight  99674 non-null   object
dtypes: bool(13), float64(12), int64(1), object(20)
memory usage: 26.4+ MB

In [11]:
print(df.shape)

(100000, 46)

In [12]:
print(df.isnull().sum())

ID                           0
Source                       0
Severity                     0
Start_Time                   0
End_Time                     0
Start_Lat                    0
Start_Lng                    0
End_Lat                  43988
End_Lng                  43988
Distance(mi)                 0
Description                  1
Street                     170
City                         3
County                       0
State                        0
Zipcode                     21
Country                      0
Timezone                   100
Airport_Code               302
Weather_Timestamp         1576
Temperature(F)            2120
Wind_Chill(F)            25933
Humidity(%)               2259
Pressure(in)              1817
Visibility(mi)            2262
Wind_Direction            2311
Wind_Speed(mph)           7443
Precipitation(in)        28622
Weather_Condition         2216
Amenity                      0
Bump                         0
Crossing                     0
Give_Way                     0
Junction                     0
No_Exit                      0
Railway                      0
Roundabout                   0
Station                      0
Stop                         0
Traffic_Calming              0
Traffic_Signal               0
Turning_Loop                 0
Sunrise_Sunset             326
Civil_Twilight             326
Nautical_Twilight          326
Astronomical_Twilight      326
dtype: int64

In [13]:
print("Total missing values:", df.isnull().sum().sum())

Total missing values: 166436

In [14]:
for val in ["?", "-", " ", "NA", ""]:
    print(val, (df == val).sum().sum())

? 0
- 0
  0
NA 0
 0

In [15]:
missing_percentage = (df.isnull().sum() / len(df)) * 100
print(missing_percentage)

ID                        0.000
Source                    0.000
Severity                  0.000
Start_Time                0.000
End_Time                  0.000
Start_Lat                 0.000
Start_Lng                 0.000
End_Lat                  43.988
End_Lng                  43.988
Distance(mi)              0.000
Description               0.001
Street                    0.170
City                      0.003
County                    0.000
State                     0.000
Zipcode                   0.021
Country                   0.000
Timezone                  0.100
Airport_Code              0.302
Weather_Timestamp         1.576
Temperature(F)            2.120
Wind_Chill(F)            25.933
Humidity(%)               2.259
Pressure(in)              1.817
Visibility(mi)            2.262
Wind_Direction            2.311
Wind_Speed(mph)           7.443
Precipitation(in)        28.622
Weather_Condition         2.216
Amenity                   0.000
Bump                      0.000
Crossing                  0.000
Give_Way                  0.000
Junction                  0.000
No_Exit                   0.000
Railway                   0.000
Roundabout                0.000
Station                   0.000
Stop                      0.000
Traffic_Calming           0.000
Traffic_Signal            0.000
Turning_Loop              0.000
Sunrise_Sunset            0.326
Civil_Twilight            0.326
Nautical_Twilight         0.326
Astronomical_Twilight     0.326
dtype: float64